

/* will style desktop first */

/* initial rules */
html {
  font-family: Calibri, Arial, Roboto;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

/* body */
body {
  width: 100vw;
  margin: 0;
}


/* header */
header {
  height: 50px;
  background-color: #003285;

  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  align-items: center;

  padding-right: 7vw;
  margin-top: 1.3rem;
}
#logo {
  height: 5rem;
  position: relative;
  /* top: 1.4rem; */
}
#head-text {
  font-size: 1.2rem;
  color: white;
}


/* main */
main {
  /* border: dashed 1px gray; */
  max-width: 1000px;
  min-width: 370px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
/* form */
form {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  align-items: center;
  column-gap: 0;

  max-height: 650px;
  padding: 0 4%;
  margin-bottom: 100px;
  /* border: solid 1px orange; */
}
/* fields */
fieldset, button {
  width: 48%;

  border: none;
}
fieldset {
  margin: 10px 0;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* field legend */
legend {
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.75;
}

/* input */
input {
  height: 3rem;
  padding: 10px;
  font-size: 1.2rem;
}

/* address */
textarea {
  resize: none;
  height: 70px;
  width: 100%;
  padding: 13px 10px 10px;
  font-size: 1.2rem;
  display: block;
}

/* placeholder */
input::placeholder, textarea::placeholder {
    font-style: italic;
    font-size: 0.7rem;
}

/* birth inputs */
#field-birthdate {
  flex-flow: row wrap;
  /* flex: 1 1 auto; */
}
#birth-year {
  width: 20%;
  flex: 1 1 auto;
}
#birth-month {
  width: 40%;
  flex: 1 1 auto;
}
#birth-day {
  width: 20%;
  flex: 1 1 auto;
}

/* radio buttons */
.radio-box {
  height: 2rem;
  margin-left: 1rem;

  display: flex;
  gap: 2rem;
}
label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
input[type=radio] {
  width: 30px;
}

/* submit button */
#btn-submit {
  all: unset;
  height: 70px;
  width: 200px;
  border-radius: 2px;
  /* background-color: #16C47F; */
  background-color: #04AA6D;
  color: white;
  font-size: 1.2rem;

  /* align-self: flex-end; */
  align-self: flex-end;
  text-align: center;

  position: absolute;
  bottom: -220px;
}
#btn-submit {
  cursor: pointer;
}


/* footer */
footer {
  max-height: 20px;
  border-top: solid 2px gray;
  text-align: right;
  padding: 0;
  padding-right: 7vw;
}
footer p {
  font-size: 0.7rem;
}
